body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #7A0611;
    color: #fff;
    padding: 20px;
    font-family: 'Britannic Bold';
}

.header-content {
    display: flex;
    align-items: center;
}

img {
    width: 20%;
    margin-right: 20px;
}

.titles {
    flex: 1;
    text-align: center;
}

h1, h2, h3 {
    margin: 10px;
    padding: 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 25px;
}

h1 {
    font-size: 24px;
}

.additional-text {
    display: flex;
    justify-content: center;
}

.button {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #fdfdfd;
    border: 1px solid #fffcfc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.button:hover {
    background-color: #e0e0e0;
}

/* Estilos para el select de departamentos */
#departamentosContainer {
    margin-top: 20px; /* Espacio superior */
}

.select-departamento {
    padding: 5px 10px; /* Padding interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Ancho máximo */
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Cambia la dirección del flex para apilar los elementos en columnas */
        text-align: center; /* Centra todo el contenido */
    }

    img {
        width: 80%; /* Redimensiona la imagen */
        margin-bottom: 20px; /* Agrega espacio debajo de la imagen */
    }

    .button,
    .logout-button,
    .select-departamento {
        margin: 10px 0; /* Agrega espacio entre los elementos */
        width: 100%; /* Ajusta el ancho al 100% */
    }
}
