body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #7A0611;
    color: #fff;
    padding: 20px;
    font-family: 'Britannic Bold';
}

.header-content {
    display: flex;
    align-items: center;
}

img {
    width: 20%;
    margin-right: 20px;
}

.titles {
    flex: 1;
    text-align: center;
}

h1, h2, h3 {
    margin: 10px;
    padding: 0;
}

th {
    color: black;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 25px;
}

h1 {
    font-size: 24px;
}

.additional-text {
    display: flex;
    justify-content: center;
}

.button {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #fdfdfd;
    border: 1px solid #fffcfc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.button:hover {
    background-color: #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #9e3636;
    color: #333;
}


#graficaRespuestas {
    width: 100% !important;
    height: auto !important;
}


@media only screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    img {
        width: 80%;
        margin-bottom: 20px;
    }

    .button, .logout-button {
        margin: 10px 0;
        width: 100%;
    }
}