body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #7A0611;
    color: #fff;
    padding: 20px;
    font-family: 'Britannic Bold';
}

.header-content {
    display: flex;
    align-items: center;
}

img {
    width: 20%; /* Tamaño de la imagen, ajusta según necesites */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
}

.titles {
    flex: 1; /* Permite que los títulos ocupen el espacio restante */
    text-align: center; /* Centra el texto horizontalmente */
}

h1, h2, h3 {
    margin: 10px; /* Agrega espacio entre los títulos */
    padding: 0; /* Eliminar relleno */
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 25px;
}

h1 {
    font-size: 24px;
}

.additional-text {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

.button {
    margin-right: 20px; /* Espacio entre botones */
    padding: 5px 10px; /* Padding para hacerlos parecer botones */
    background-color: #fdfdfd; /* Color de fondo */
    border: 1px solid #fffcfc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar por encima */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: #000000; /* Color del texto */
}

.button:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar por encima */
}





/* Estilos responsivos */

@media only screen and (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Cambia la dirección del flex para apilar los elementos en columnas */
        text-align: center; /* Centra todo el contenido */
    }

    img {
        width: 80%; /* Redimensiona la imagen */
        margin-bottom: 20px; /* Agrega espacio debajo de la imagen */
    }

    .button, .logout-button {
        margin: 10px 0; /* Agrega espacio entre los botones */
        width: 100%; /* Ajusta el ancho de los botones al 100% */
    }
}
